<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | truncate 200 }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ site.Title }}">
{{- if .IsPage }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{- with .Params.tags }}<meta property="article:tag" content="{{ range . }}{{ . }} {{ end }}">{{ end }}
{{- end }}

{{- /* Image resolution: front matter images > PaperMod cover > page resources > site default */}}
{{- $ogImage := "" }}
{{- with .Params.images }}
  {{- $ogImage = index . 0 | absURL }}
{{- else }}
  {{- with .Params.cover.image }}
    {{- if strings.HasPrefix . "http" }}
      {{- $ogImage = . }}
    {{- else if $.Params.cover.relative }}
      {{- $ogImage = (printf "%s%s" $.Permalink .) }}
    {{- else }}
      {{- $ogImage = . | absURL }}
    {{- end }}
  {{- else }}
    {{- $images := $.Resources.ByType "image" }}
    {{- $featured := $images.GetMatch "*feature*" | default ($images.GetMatch "{*cover*,*thumbnail*}") }}
    {{- with $featured }}
      {{- $ogImage = $featured.Permalink }}
    {{- else }}
      {{- with site.Params.images }}
        {{- $ogImage = index . 0 | absURL }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
{{- with $ogImage }}<meta property="og:image" content="{{ . }}">{{ end }}
